.catSliderSection {
    width: 100%;
    height: auto;
    padding: 30px 0px;
}

.catSliderSection .slick-slide {
    padding-right: 20px !important;
}

.catSliderSection .item {
    height: auto;
    /* background: #F4F6FA; */
    cursor: pointer;
    padding: 10px 0px;
}

.catSliderSection .item .info {
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 15px;
    transition: all 0.2s ease-in-out;
    border-radius: 7px;
    border: 1px solid transparent;
}

.catSliderSection .item .info h5 {
    font-weight: 500 !important;
}

.catSliderSection .item .info p {
    font-size: 14px;
    opacity: 0.5;
    color: #000;
    margin-bottom: 0px;
}

.catSliderSection .slick-arrow {
    zoom: 80%;
}

.catSliderSection .slick-arrow.slick-next {
    top: -50px !important;
    right: 10px !important;
}

.catSliderSection .slick-arrow.slick-prev {
    top: -50px !important;
    right: 80px !important;
    left: inherit !important; 
}

.catSliderSection .item .info:hover {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    border: 1px solid #BCE3C9;
    color: #3BB77E;
}