@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  zoom: 100%;
}

body {
  font-family: "Roboto", sans-serif;
}
.container-fluid {
  padding: 0px 26px;
}

.cursor {
  cursor: pointer;
}

.bg-g, .bg-success {
  background: #3bb77e !important;
}

.text-g {
  color: #3bb77e;
}

.hd {
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 20px;
}

.transition {
  transition: all 0.2s ease-in-out;
}