@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  zoom: 100%;
}

body {
  font-family: "Roboto", sans-serif;
}
.container-fluid {
  padding: 0px 26px;
}

.cursor {
  cursor: pointer;
}

.btn-g {
  background: #3bb77e !important;
  padding: 10px 25px !important;
  border-radius: 5px !important;
  color: #fff !important;
  text-transform: capitalize !important;
}

.btn-g a {
  color: #fff;
  text-decoration: none;
}

.btn-lg {
  font-size: 16px !important;
}

.btn-g:hover {
  background: #FDC040 !important;
}

.bg-g, .bg-success {
  background: #3bb77e !important;
}

.text-g {
  color: #3bb77e;
}

.text-org {
  color: #FDC040 !important;
}

.text-light {
  color: #8b8b8b !important;
}

p {
  color: #7E7E7E ;
}

.hd {
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 20px;
}

.transition {
  transition: all 0.2s ease-in-out;
}


/* START TOOLTIP STYLES */
[tooltip] {
  position: relative; /* opinion 1 */
}

/* Applies to all tooltips */
[tooltip]::before,
[tooltip]::after {
  text-transform: none; /* opinion 2 */
  font-size: 14px; /* opinion 3 */
  line-height: 1;
  user-select: none;
  pointer-events: none;
  position: absolute;
  display: none;
  opacity: 0;
}
[tooltip]::before {
  content: '';
  border: 5px solid transparent; /* opinion 4 */
  z-index: 1001; /* absurdity 1 */
}
[tooltip]::after {
  content: attr(tooltip); /* magic! */
  
  /* most of the rest of this is opinion */
  font-family: Helvetica, sans-serif;
  text-align: center;
  
  /* 
    Let the content set the size of the tooltips 
    but this will also keep them from being obnoxious
    */
  min-width: 3em;
  max-width: 21em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 1ch 1.5ch;
  border-radius: 8px;
  box-shadow: 0 1em 2em -.5em rgba(0, 0, 0, 0.35);
  background: #3BB77E;
  color: #fff;
  z-index: 1000; /* absurdity 2 */
}

/* Make the tooltips respond to hover */
[tooltip]:hover::before,
[tooltip]:hover::after {
  display: block;
}

/* don't show empty tooltips */
[tooltip='']::before,
[tooltip='']::after {
  display: none !important;
}

/* FLOW: UP */
[tooltip]:not([flow])::before,
[tooltip][flow^="up"]::before {
  bottom: 100%;
  border-bottom-width: 0;
  border-top-color: #3BB77E;
}
[tooltip]:not([flow])::after,
[tooltip][flow^="up"]::after {
  bottom: calc(100% + 5px);
}
[tooltip]:not([flow])::before,
[tooltip]:not([flow])::after,
[tooltip][flow^="up"]::before,
[tooltip][flow^="up"]::after {
  left: 50%;
  transform: translate(-50%, -.5em);
}


/* KEYFRAMES */
@keyframes tooltips-vert {
  to {
    opacity: .9;
    transform: translate(-50%, 0);
  }
}

@keyframes tooltips-horz {
  to {
    opacity: .9;
    transform: translate(0, -50%);
  }
}

/* FX All The Things */ 
[tooltip]:not([flow]):hover::before,
[tooltip]:not([flow]):hover::after,
[tooltip][flow^="up"]:hover::before,
[tooltip][flow^="up"]:hover::after,
[tooltip][flow^="down"]:hover::before,
[tooltip][flow^="down"]:hover::after {
  animation: tooltips-vert 300ms ease-out forwards;
}

[tooltip][flow^="left"]:hover::before,
[tooltip][flow^="left"]:hover::after,
[tooltip][flow^="right"]:hover::before,
[tooltip][flow^="right"]:hover::after {
  animation: tooltips-horz 300ms ease-out forwards;
}


.price {
  font-size: 18px;
  margin-right: 20px;
}

.oldPrice {
  font-size: 14px;
  opacity: 0.6;
  color: #000;
  text-decoration: line-through;
}

.listingPage {
  width: 100%;
  height: auto;
  padding: 45px 0px;
}

.breadcrumb {
  width: 100%;
  height: auto;
  padding: 45px 45px;
  background: url('./assets/images/bg.png');
  border-radius: 20px;
  margin-bottom: 30px;
}

.breadcrumb h2 {
  color: #000;
  opacity: 0.8;
  font-size: 42px;
  font-weight: bold;
}

.breadcrumb ul li {
  margin-right: 20px !important;
}

.breadcrumb ul li a {
  text-decoration: none;
  color: #000;
}

.sidebarWrapper {
  max-width: 20%;
  flex: 0 0 19%;
}

.rightContent {
  max-width: 80%;
  flex: 0 0 80%;
}

.sidebarWrapper h3 {
  position: relative;
  font-size: 26px;
  padding-bottom: 20px;
  margin-bottom: 30px;
}

.sidebarWrapper h3::after {
  content: '';
  width: 100%;
  height: 1px;
  background: #ccc;
  position: absolute;
  bottom: 0px;
  left: 0px;
}

.sidebarWrapper h3::before {
  content: '';
  width: 30%;
  height: 3px;
  background: #BCE3C9;
  position: absolute;
  bottom: 0px;
  left: 0px;
  z-index: 10;
}

.sidebarWrapper .sidebar {
  position: sticky;
  top: 100px;
}

.sidebarWrapper .sidebar .card {
  padding: 25px;
  border-radius: 10px !important;
  margin-bottom: 30px;
}

.sidebarWrapper .sidebar .card .catList .catItem {
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.050);
  cursor: pointer;
  margin: 8px 0px;
  border-radius: 5px;
  transition: all 0.2s ease-in-out;
}

.sidebarWrapper .sidebar .card .catList .catItem h6 {
  color: #000;
  font-size: 14px;
}

.sidebarWrapper .sidebar .card .catList .catItem .rounded-circle {
  background: #BCE3C9;
  width: 30px;
  height: 30px;
}

.sidebarWrapper .sidebar .card .catList .catItem:hover {
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.priceRange span{
  font-size: 14px;
}

.filters {
  padding: 10px 0px;
}

.filters h6 {
  font-weight: 600;
}

.filters ul {
  max-height: 200px;
  overflow-y: scroll;
  margin-left: -10px;
}

.filters ul::-webkit-scrollbar {
  width: 7px !important;
}

.filters ul::-webkit-scrollbar-thumb {
  background: #ccc;
}

.filters ul li {
  width: 100%;
  list-style: none;
}

.sidebarWrapper .sidebar .btn {
  width: 130px;
}

.rightContent .topStrip {
  padding: 0px 25px;
}

.rightContent .topStrip p {
  font-size: 16px;
}

.rightContent .topStrip .tab_ {
  width: 200px;
}

.rightContent .topStrip .tab_ .btn_ {
  background: none !important;
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 7px 20px;
  text-transform: capitalize !important;
  color: rgba(0, 0, 0, 0.6);
  border-radius: 5px;
  font-size: 14px;
  width: 100% !important;
  justify-content: flex-start;
  font-size: 14px;
}

.rightContent .topStrip .tab_ .btn_ svg {
  opacity: 0.7;
}

.rightContent .topStrip .tab_ .dropdownMenu {
  top: 100%;
}


/* Product Detail */

.breadcrumbWrapper{
  width: 100%;
  height: auto;
  padding: 20px 0px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1) !important;
}

.breadcrumbWrapper .breadcrumb2 {
  background: none !important;
  padding: 0px !important;
}

ul.breadcrumb {
  padding: 10px 16px;
  list-style: none;
  background-color: #eee;
}
ul.breadcrumb li {
  display: inline;
  font-size: 16px;
}
ul.breadcrumb li+li:before {
  padding: 8px;
  color: black;
  content: "/\00a0";
}
ul.breadcrumb li a {
  color: #3bb77e;
  text-decoration: none;
}
ul.breadcrumb li a:hover {
  color: #3bb77e;
  text-decoration: underline;
}

.detailsPage .productInfo h2 {
  font-size: 40px;
  font-weight: bold;
  opacity: 0.8;
}

.detailsContent {
  max-width: 90%;
}

.detailsPage .productInfo .priceSec .priceLarge {
  font-size: 45px;
  font-weight: bold;
}

.detailsPage .productInfo .priceSec .text-org {
  font-size: 14px;
  font-weight: 500;
}

.detailsPage .productInfo .priceSec .text-light.oldPrice {
  font-size: 20px;
  font-weight: 500;
}

.productZoom {
  width: 100%;
  height: auto;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 25px;
  overflow: hidden;
  border-radius: 15px;
}

.zoomSlider {
  padding-top: 20px;
}

.zoomSlider .slick-slide {
  
  padding-right: 10px !important;
}

.zoomSlider .item {
  border: 1px solid transparent !important;
  overflow: hidden;
  border-radius: 10px;
}

.zoomSlider .slick-current .item {
  border: 1px solid #3bb77e !important;
}

.zoomSlider .slick-arrow {
  top: 50% !important;
  zoom: 80% !important;
}

.zoomSlider .slick-arrow.slick-next {
  right: -7% !important;
}

.zoomSlider .slick-arrow.slick-prev {
  left: -7% !important;
}